* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  padding: 0 15%;
  text-align: justify;
  background: radial-gradient(circle at top center, rgba(0, 255, 255, 0.15), transparent 60%),
              radial-gradient(circle at bottom right, rgba(255, 0, 255, 0.1), transparent 70%),
              linear-gradient(180deg, #020202 0%, #070707 100%);
  color: #e0e0e0;
  overflow-x: hidden;
  min-height: 100vh
  
}

.brilho {
 position: fixed;
  top: 30%;
  left: -120px; /* valor negativo empurra o brilho mais pra fora da tela */
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(0, 255, 255, 0.25), transparent 70%);
  filter: blur(90px);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

.brilho2 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 247, 255, 0.541), transparent 50%);
  filter: blur(80px);
  right: 30px;
  top: 400px;
  transform: translate(-50%, -50%);
  z-index: 0;
}


.tarja {
  position: fixed;    
  top: 0;
  left: 0;
  width: 12px;          
  height: 200px;       
  z-index: 999;
  display: flex;        
  text-orientation: mixed;
}

h1 {
  text-align: left;
  font-size: 50px;
  color: #00ffff;
  letter-spacing: 2px;
  font-family: 'Orbitron', sans-serif;
  margin-top: 120px;
}

h2 {
  color: #00ffff;
  margin-bottom: 15px;
  font-family: 'Orbitron', sans-serif;
}

nav {
  text-align: left;
  margin-top: 60px;
  margin-bottom: 80px;
  font-family: 'Orbitron', sans-serif;
}

nav a {
  padding: 8px 16px;
  border-radius: 8px;
}

.menu a {
  color: #00ffff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

section {
  margin-bottom: 160px;
}

.aspas {

  margin: 3rem 0;
  padding: 1.2rem 1.5rem;
  border-left: 3px solid rgba(0, 255, 255, 0.6); 
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05); 
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.08);
}

pre {
  background: #0a0a0f;
  border-left: 3px solid #00ffff;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  color: #b0f0ff;
  font-size: 0.95rem;
}

.intro-img {
  float: right;
  width: 320px;
  height: auto;
  margin: 0 0 25px 40px;
  border-radius: 8px;
  position: relative;
  top: -280px;
  right: -150px;
  z-index: 2;
  shape-outside: inset(0 round 8px); 
  border: 4px solid transparent; 
  border-image: linear-gradient(to bottom, rgb(36, 41, 41), transparent) 1;
  background: radial-gradient(circle, rgba(0, 238, 255, 0.5), transparent 70%);

}

@media (max-width: 600px) {
  .intro-img {
    float: none;
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
    display: block;

    position: static;
    top: unset;
    right: unset;

    shape-outside: none;
  }
}